* {
  margin: 0;
  padding: 0; }

body,
html {
  font-family: Verdana, sans-serif; }

nav {
  text-transform: uppercase;
  position: absolute;
  width: 100%; }
  nav #mobileNavHomeBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    nav #mobileNavHomeBar h3 {
      background: transparent;
      font-weight: normal;
      padding: 16px 16px 16px 0; }
      nav #mobileNavHomeBar h3 a {
        padding: 16px;
        color: #fff;
        text-decoration: none; }
        nav #mobileNavHomeBar h3 a:hover {
          color: #000;
          background: #ccc; }
    nav #mobileNavHomeBar button {
      border: none;
      background: transparent;
      padding: 16px;
      margin: 0; }
      nav #mobileNavHomeBar button div {
        width: 20px;
        height: 3px;
        border-radius: 1em;
        background-color: #fff;
        margin: 3px 0;
        padding: 0; }
      nav #mobileNavHomeBar button:hover {
        background: #000; }
  nav ul {
    background: #fff;
    list-style: none; }
    nav ul li {
      padding: 16px; }
      nav ul li:hover {
        background: #ccc; }
      nav ul li a {
        padding: 0;
        text-decoration: none;
        color: #000; }
        nav ul li a i {
          display: none !important; }

@media (min-width: 600px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background: transparent;
      margin: 0;
      width: 100%; }
      nav ul li:nth-of-type(4) {
        margin-left: auto; }
      nav ul li a {
        color: #fff; }
        nav ul li ahover {
          color: #000; }
        nav ul li a span {
          display: none; }
        nav ul li a i {
          margin-right: 2px;
          display: inline !important; }
    nav #mobileNavHomeBar h3 {
      padding: 0; }
    nav #mobileNavHomeBar button {
      display: none; } }

#showcase {
  background-image: url(../img/dudeAndPlane.jpeg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
