body,
html {
  padding: 0;
  margin: 0;
  font-family: Verdana, sans-serif; }

nav {
  text-transform: uppercase;
  position: absolute;
  width: 100%; }
  nav h3 {
    background: transparent;
    font-weight: normal;
    padding: 16px;
    margin: 0; }
    nav h3 a {
      padding: 0;
      text-decoration: none; }
  nav ul {
    background: #fff;
    list-style: none;
    padding: 0;
    margin: 0; }
    nav ul li {
      width: 100%;
      padding: 16px; }
      nav ul li a {
        padding: 0;
        text-decoration: none;
        color: #000; }
        nav ul li a i {
          display: none !important; }
  nav a {
    display: block;
    text-decoration: none;
    padding: 16px;
    color: #000; }
    nav a i {
      color: #777;
      display: none !important; }
  nav li:hover {
    background: #ccc; }
  nav a:hover {
    background: #ccc; }
  nav h3:hover {
    background: #ccc; }

#showcase {
  z-index: -1;
  background-image: url(../img/dudeAndPlane.jpeg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
