* {
  margin: 0;
  padding: 0; }

body,
html {
  font-family: "Lato", sans-serif; }

nav {
  text-transform: uppercase;
  position: absolute;
  width: 100%; }
  nav #mobileNavHomeBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    nav #mobileNavHomeBar h3 {
      background: transparent;
      font-weight: normal;
      font-size: 16px;
      padding: 16px 16px 16px 0; }
      nav #mobileNavHomeBar h3 a {
        padding: 16px;
        color: #fff;
        text-decoration: none; }
        nav #mobileNavHomeBar h3 a:hover {
          color: #000;
          background: #ccc; }
    nav #mobileNavHomeBar button {
      border: none;
      background: transparent;
      padding: 16px;
      margin: 0;
      cursor: pointer; }
      nav #mobileNavHomeBar button div {
        width: 20px;
        height: 2px;
        border-radius: 1em;
        background-color: #fff;
        margin: 3px 0;
        padding: 0; }
      nav #mobileNavHomeBar button:hover {
        background: #000; }
  nav ul {
    display: none;
    background: #fff;
    list-style: none; }
    nav ul li {
      padding: 16px; }
      nav ul li:hover {
        background: #ccc; }
      nav ul li a {
        padding: 0;
        text-decoration: none;
        color: #000; }
        nav ul li a i {
          display: none !important; }

@media (min-width: 600px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    nav ul {
      background: black;
      background: transparent;
      margin: 0;
      padding: 0;
      width: 100%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      nav ul li {
        padding: 0;
        margin: 0; }
        nav ul li:nth-of-type(4) {
          margin-left: auto; }
        nav ul li a {
          height: 100%;
          padding: 16px;
          color: #fff; }
          nav ul li a:hover {
            background: #ccc;
            color: #000; }
          nav ul li a span {
            display: none; }
          nav ul li a i {
            margin-right: 2px;
            display: inline !important; }
    nav #mobileNavHomeBar {
      padding: 0; }
      nav #mobileNavHomeBar h3 {
        margin: 0;
        padding-right: 0; }
      nav #mobileNavHomeBar button {
        display: none; }
    nav #search {
      color: #fff; }
      nav #search:hover {
        background: orangered; }
  div h2 span {
    display: inline; }
  #menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.menuOpen {
  display: block; }

#showcase {
  background-image: url(../img/dudeAndPlane.jpeg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff; }

header h2 {
  font-weight: normal;
  display: block;
  background: #404040;
  padding: 16px;
  text-transform: uppercase;
  letter-spacing: 8px; }
  header h2 span {
    display: none; }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto 0 auto;
  max-width: 90%; }
  .about h2 {
    text-align: center; }

.aboutBio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 16px; }
  .aboutBio p {
    margin-left: 16px;
    width: 50%; }
  .aboutBio div {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
    .aboutBio div p {
      padding-bottom: 30px; }
    .aboutBio div img {
      width: 100%; }

footer {
  height: 200px;
  text-align: center;
  background: #404040;
  color: #fff; }
  footer a {
    text-decoration: none;
    color: #fff; }
  footer:hover {
    background: #000; }
