//Default Style Varables
$navTextColor:#777;
$moblieNavTextColor: #000;
$navTextSize: 16px;
$navTextHover: #000;
// Reset for some default styles
* {
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: "Lato", sans-serif;
}

// Navigation Bar Styles
nav {
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    #mobileNavHomeBar {
        display: flex;
        justify-content: space-between;
        h3 {
            background: transparent;
            font-weight: normal;
            font-size: $navTextSize;
            padding: 16px 16px 16px 0;
            a {
                padding: 16px;
                color: #fff;
                text-decoration: none;
                &:hover {
                    color: #000;
                    background: #ccc;
                }
            }
        }
        button {
            border: none;
            background: transparent;
            padding: 16px;
            margin: 0;
            cursor: pointer;
            div {
                width: 20px;
                height: 2px;
                border-radius: 1em;
                background-color: #fff;
                margin: 3px 0;
                padding: 0;
            }
            &:hover {
                background: #000;
            }
        }
    }
    ul {
        display: none;
        background: #fff;
        list-style: none;
        li {
            padding: 16px;
            &:hover {
                background: #ccc;
            }
            a {
                padding: 0;
                text-decoration: none;
                color: $moblieNavTextColor;
                i {
                    display: none !important;
                }
            }
        }
    }
}

// Navigation Bar Desktop Styles
@media(min-width:600px) {
    nav {
        display: flex;
        align-items: center;
        ul {
            background: black;
            background: transparent;
            margin: 0;
            padding: 0;
            width: 100%;
            justify-content: center;
            li {
                padding: 0;
                margin: 0;
                &:nth-of-type(4) {
                    margin-left: auto;
                }
                a {
                    height: 100%;
                    padding: 16px;
                    color: #fff;
                    &:hover {
                        background: #ccc;
                        color: #000;
                    }
                    span {
                        display: none;
                    }
                    i {
                        margin-right: 2px;
                        display: inline !important;
                    }
                }
            }
        }
        
        #mobileNavHomeBar {
            padding: 0;
            h3 {
                margin: 0;
                padding-right: 0;
            }
            button {
                display: none;
            }
        }
        #search {
            color: #fff;
            &:hover {
                background: orangered;
            }
        }
    } //Showcase Desktop Styles 
    div {
        h2 {
            span {
                display: inline;
            }
        }
        
    }
    #menu{
        display: flex;
    }
}
.menuOpen {
    display: block;
}

// Showcase Image Styles
#showcase {
    background-image: url(../img/dudeAndPlane.jpeg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

header {
    h2 {
        font-weight: normal;
        display: block;
        background: #404040;
        padding: 16px;
        text-transform: uppercase;
        letter-spacing: 8px;
            span {
                display: none;
            }
    }
}

//About Section
.about {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    max-width: 90%;
    h2 {
        text-align: center;
    }
}

.aboutBio {
    display: flex;
    padding-top: 16px;
    p {
     margin-left: 16px;
     width: 50%;
    }
    div {
        order: -1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        p {
            padding-bottom: 30px;
        }
        img {
           width: 100%;
        }
    }
}

// footer
footer{
    height: 200px;
    text-align: center;
    background: #404040;
    color: #fff;
    a {
        text-decoration: none;
        color: #fff;
    }
    &:hover {
        background: #000;
    }
}
